@inherits LayoutComponentBase

@using MudBlazor

<PageTitle>ItemBlazor</PageTitle>

<style>
    body {
        background-color: #FFE0B2;
        color: #000000;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
</style>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</div>
